---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import SpotTypes from "../components/SpotTypes.astro";
import Features from "../components/Features.astro";
import About from "../components/About.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";

const locale = "en" as const;
---

<Layout locale={locale}>
  <Navbar locale={locale} />
  <main>
    <Hero locale={locale} />
    <SpotTypes locale={locale} />
    <Features locale={locale} />
    <About locale={locale} />
    <CTA locale={locale} />
  </main>
  <Footer locale={locale} />
</Layout>
